$themes: (
   gray-theme: (clr: #0c243c),
   red-theme: (clr: #c0392b),
   green-theme: (clr: #27ae60),
   orange-theme: (clr: #d35400),
   blue-theme: (clr: #2980b9)
);

@each $theme, $map in $themes {

   .#{$theme} { // green-theme - blue-theme      
      .page .page-head .page-title,
      .header .toggle-sidebar:hover,
      .header .usermenu-container .dropdown-menu .user-info h3,
      .header .usermenu-container .dropdown-menu .user-info p{
         color: map-get($map, clr);
      }
      
      .page .sidebar .links-area .child-links a:hover:before,
      .page .sidebar{
         background-color:  map-get($map, clr);
      }
      
   }
   
}