*{
   box-sizing: border-box;
}
body{
   font-family: 'Ubuntu', sans-serif;
   &.ubuntu{
      font-family: 'Ubuntu', sans-serif;
   }
   &.roboto{
      font-family: 'Roboto', sans-serif;
   }
   &.oswald{
      font-family: 'Oswald', sans-serif;
   }
   &.tenali{
      font-family: 'Tenali Ramakrishna', sans-serif;
   }
   &.metal{
      font-family: 'Metal Mania', cursive;
   }
   &.lexend{
      font-family: 'Lexend Tera', sans-serif;
   }
}
[value='ubuntu']{
   font-family: 'Ubuntu', sans-serif;
}
[value='roboto']{
   font-family: 'Roboto', sans-serif;
}
[value='oswald']{
   font-family: 'Oswald', sans-serif;
}
[value='tenali']{
   font-family: 'Tenali Ramakrishna', sans-serif;
}
[value='metal']{
   font-family: 'Metal Mania', cursive;
}
[value='lexend']{
   font-family: 'Lexend Tera', sans-serif;
}
.page{
   min-height: 100vh;

   .content-area{
      width: calc(100% - 250px);
      min-height: 100vh;
      transition: .3s;
      will-change: width;
      float: right;
      background-color: #f1f2f7;

      &.no-sidebar{
         width: 100%;
      }
   }

   .page-head{
      padding: 20px;
      margin-top: 20px;

      .page-title{
         font-weight: bold;
         color: #0c243c;
      }
      
   }
}
