.page{

   .sidebar{
      width: 250px;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      background-color: #0c243c;
      color: #FFF;
      padding: 15px;
      transition: .3s;

      &.no-sidebar{
         left: -250px;
      }
      .logo-area{
         font-weight: bold;
         font-size: 26px;
         margin-bottom: 30px;

      }
      .links-area{
         li{
            
            a{
               color: #ccc;
               padding: 10px 20px;
               display: block;
               transition: .3s;
               
               &:hover{
                  text-decoration: none;
                  color: #fff;
               }
            }
            .child-links li a:hover{
               transform: scale(1.1,1.1) translateX(9px);
            }
         }

         > li > a{ //direct child
            position: relative;
            color: #FFF;

            &:before{
               content: '';
               position: absolute;
               left: 0;
               top: 50%;
               width: 10px;
               height: 10px;
               border-radius: 50%;
               border: 2px solid #fff;
               transform: translateY(-50%);
            }

            &:hover{
               padding-left: 25px;
            }
            .fa-angle-down{
               float: right;
               position: relative;
               top: 7px;
               transition: .3s;

               &.right{
                  transform: rotateZ(-90deg);
               }
            }
         }

         // .toggle-submenu{
            
            
         // }

         .child-links{
            position: relative;
            display: none;
   
            &:before{
               content: '';
               position: absolute;
               left: 7px;
               top: 0;
               width: 3px;
               height: 100%;
               background-color: #666;
               opacity: .4;
            }
            a{
               position: relative;
   
               &:hover:before{
                  content: '';
                  position: absolute;
                  left: 7px;
                  top: 0;
                  width: 3px;
                  height: 100%;
                  opacity: .8;
                  background-color: #fff;
               }
            }
         }
      }
   }
}