.settings-box.hide-settings
   .toggle-settings
      i.fa.fa-cog.fa-lg
   .settings-content.text-center
      .option-box.color-options
         h4.option-title Color options
         - var themes = ["gray-theme", "red-theme", "green-theme", "orange-theme", "blue-theme"]
         ul.list-unstyled
            each theme in themes
               li(data-theme=theme)
      .option-box.font-options
         h4.option-title Font options
         - var fonts = ["ubuntu", "roboto", "oswald", "tenali", "metal", "lexend"]
         select.form-control
            each font in fonts
               option(value=font)=font + " font"
      .option-box
         h4.option-title Sidebar options